---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Works";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp"/>
    </div>
    <h2>Contributions</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://github.com/Kapadokia-Labs/Mula-Fintech"
            image="/GitHub.webp"
            title="Mula Fintech App"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/VinceXIV/intradr"
            image="/GitHub.webp"
            title="Intradr"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </ul>
    <h2>Projects</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://github.com/Andrew-Ochieng/afrikaan-eatery"
            image="/GitHub.webp"
            title="Afrikaan Eatery"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/Andrew-Ochieng/afrikaan-eatery"
            image="/GitHub.webp"
            title="Afrikaan Eatery"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/Andrew-Ochieng/engstan"
            image="/GitHub.webp"
            title="Engstan Solutions"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/Andrew-Ochieng/limma"
            image="/GitHub.webp"
            title="Limma App"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/Vabrise-Technologies-Ltd/Vabrise"
            image="/GitHub.webp"
            title="Vabrise Technologies"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/Andrew-Ochieng/tbc"
            image="/GitHub.webp"
            title="Trinity Baptist Church"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </ul>
</Layout>
